@font-face {
  font-family: "YS Text";
  src: url("/fonts/YSText/YandexSansText-Regular.woff2") format("woff2"),
    url("/fonts/YSText/YandexSansText-Regular.woff") format("woff"),
    url("/fonts/YSText/YandexSansText-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "YS Text";
  src: url("/fonts/YSText/YandexSansText-Medium.woff2") format("woff2"),
    url("/fonts/YSText/YandexSansText-Medium.woff") format("woff"),
    url("/fonts/YSText/YandexSansText-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "YS Text";
  src: url("/fonts/YSText/YandexSansText-Bold.woff2") format("woff2"),
    url("/fonts/YSText/YandexSansText-Bold.woff") format("woff"),
    url("/fonts/YSText/YandexSansText-Bold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
