@import url("/fonts.css");
@import url("/svg.css");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

body {
  margin: 0;
  overflow-y: scroll;

  font-family: "YS Text", Arial;
  color: #000;
}

/* Logo */
.logo__img {
  display: block;
  position: absolute;
  top: -36px;
  left: -144px;
}

/* Hidden */
.dots._hidden {
  opacity: 0;

  transition: opacity 0.2s linear;
}

/* Link */
.link {
  text-decoration: none;
  cursor: pointer;

  transition: color 0.2s linear;
}

.link._primary-color {
  color: #0054b9;
}

.link:hover {
  color: #c00;
}

.link._big {
  font-size: 16px;
}

.link._small {
  font-size: 13px;
}

/* Container */
.container {
  width: 940px;

  padding: 1px 10px;
  margin: 0 auto;
}

/* Header */
.header__container {
  display: flex;
  justify-content: space-between;

  margin-right: 200px;
  padding-top: 8px;
  padding-left: 18px;
}

.header__info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 240px;
}

.header__geo-link {
  display: flex;
  align-items: baseline;

  font-size: 12px;
  font-weight: 600;
  color: #90919d;
}

.header__geo-link:hover .link__city {
  color: #c00;
}

.header__geo-link:hover .geolink {
  fill: #c00;
}

.header__icons {
  display: flex;
  align-items: center;

  position: relative;
  top: -5px;
  left: -9px;
}

.header__time {
  font-family: Verdana;
  font-size: 11px;
  font-weight: 400;
  color: #90919d;
}

/* Info */
.info._row {
  display: flex;
}

/* News */
.news__link {
  font-weight: 500;
}

.news__link:first-child {
  margin-right: 10px;
}

.news__link._secondary-color {
  color: #6da2e1;
}

.news__header,
.news__content,
.news__item:not(:last-child) {
  margin-bottom: 8px;
}

.news__item {
  display: flex;
}

.news__ref {
  display: flex;
}

.link__fact {
  font-size: 13px;
  color: #000;

  transition: color 0.2s linear;
}

.news__item:hover .link__fact {
  color: #c00;
}

.link__fact-icon {
  width: 14px;
  height: 14px;

  margin-right: 10px;
}

.info__news {
  width: 66.6%;
}

.info__circs {
  width: 33.3%;
}

.info__news:hover .news__dots-icon._hidden {
  opacity: 1;
}

/* Course */
.course__item {
  margin-right: 8px;
}

.course__valuta {
  margin-right: 6px;

  font-weight: 500;
  font-size: 12px;
  color: #000;

  transition: color 0.2s linear;
}

.course__value {
  margin-right: 4px;

  font-weight: 400;
  font-size: 12px;
  color: #000;
}

.course__diff {
  font-size: 12px;
  color: #999;
}

/* Weather */
.circs__weather {
  padding-left: 13px;
}

.circs__weather:hover .weather__dots-icon._hidden {
  opacity: 1;
}

.weather__header {
  margin-bottom: 8px;
}

.weather__title:first-child {
  margin-right: 10px;
  font-weight: 500;
}

.weather__title._big {
  font-size: 16px;
}

.weather__title._small {
  font-size: 13px;
}
.weather__link + .weather__link {
  margin-left: 10px;
}

.weather__link:hover .link__temp {
  color: #c00;
}

.weather__info {
  display: flex;

  margin-bottom: 18px;
}

.link__desc {
  display: block;

  font-size: 9px;
  text-align: center;
  color: #90919d;
}

.link__box._alignment {
  display: flex;
  align-items: center;
}

.link__temp {
  font-size: 12px;
  color: #000;

  transition: color 0.2s linear;
}

.link__weather-icon {
  display: inline-block;
}

.link__temp._large {
  font-size: 26px;
}

.weather__link._alignment {
  display: flex;
  align-items: center;
}

/* Traffic */
.circs__traffic:hover .traffic__dots-icon._hidden {
  opacity: 1;
}

.circs__traffic {
  padding-left: 13px;
}

.link__traffic-icon {
  width: 38px;
  height: 35px;
}

.traffic__header {
  margin-bottom: 8px;
}

.traffic__link:first-child {
  font-weight: 500;
}

.traffic__link:not(:first-child) {
  margin-left: 10px;
}

.traffic__content {
  display: flex;
  align-items: center;
}

.traffic__rate {
  display: flex;
  align-items: center;

  margin-right: 10px;
}

.traffic__rate:hover .link__rate-text {
  color: #c00;
}

.link__rate-text {
  padding-left: 13px;

  font-size: 26px;
  color: #000;

  transition: color 0.2s linear;
}

.traffic__text {
  padding-left: 3px;

  color: #000;

  transition: color 0.2s linear;
}

/* Services */
.container__services {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;

  width: 100%;

  padding-top: 17px;
  padding-bottom: 19px;
}

.services__item-link {
  display: inline-block;
  text-align: center;

  transition: color 0.2s linear;
}

.services__item-link:hover .link__title {
  color: #c00;
}

.link__services-icon {
  display: block;
  width: 44px;
  height: 44px;

  margin: 0 auto;

  transition: transform 0.1s linear;
}

.link__more-icon {
  width: 18px;
  height: 18px;

  transition: transform 0.1s linear;
}

.services__item-link:hover .link__services-icon,
.services__item-link:hover .link__more-icon {
  transform: translateY(-10%);
}

.link__title {
  font-size: 12px;
  color: #000;
}

.link__more-box {
  display: flex;
  flex-wrap: wrap;

  width: 36px;
}

.services__item-link:first-child {
  position: relative;
}

.services__item-link:first-child:after {
  content: "";
  display: block;
  width: 1px;
  height: 30px;

  position: absolute;
  top: 15px;
  right: -25px;

  background-color: #eaeaea;
}

/* Search-form */
.search__logo {
  position: relative;
}

.search__container {
  position: relative;
  display: flex;
}

.search__input {
  display: inline-block;
  width: calc(100% - 70px);
  height: 40px;

  padding-left: 9px;
  border: 3px solid #fc0;
  border-right: 5px solid #fc0;
  border-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

  outline: none;
}

.search__input::placeholder {
  font-size: 16px;
  font-family: "YS Text", Verdana;
  font-weight: 400;
  opacity: 0.6;
}

.search__input:focus::placeholder {
  opacity: 0;
}

.search__button {
  width: 83px;
  height: 40px;

  margin-left: -7px;
  font-size: 16px;
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

  background-color: #fc0;

  cursor: pointer;
}

.search__download {
  margin-top: 3px;

  text-align: right;
}

.search__text {
  margin-right: 13px;

  color: #000;
}

.search__icons {
  position: absolute;
  top: 8px;
  right: 91px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search__icon {
  opacity: 0.2;

  transition: opacity 0.2s linear;
}

.search__icon:first-child {
  margin-right: 10px;
}

.search__icon:hover {
  opacity: 0.35;
}

/* Advert */
.container__advert {
  height: 120px;

  margin-top: 14px;
  border: 1px solid #ccc;
}

.advert__title {
  font-size: 24px;
  font-weight: 400;
  color: #000;

  transition: color 0.2s linear;
}

.advert__desc {
  font-size: 14px;
  font-weight: 400;
  color: #999;
}

.container__advert:hover .advert__title {
  color: #c00;
}

.advert__ref {
  position: relative;
  display: flex;
  height: 100%;
}

.advert__image {
  background: url("https://yastatic.net/www/_/O1M3pj157/f169beb3CeL/hAS0GJ_SjB4tydGUKN4uuqnsXxm5TxRDhtR2lEDAjh1QX6fXVnikVUTvlnkMs6Dc7mHFQvj1vv806ntwCdwh2xEVu5PTSUfQ4tbdnaEUqbz-qt4ZqM4GhRTQex8")
    no-repeat;
  background-size: cover;
  background-position-y: top;
  height: 100%;
  width: 35%;
}

.advert__inscription {
  position: absolute;
  top: 0;
  left: 0;

  padding: 4px 6px 3px 6px;
  border: 1px solid #e7e7e7;
  /* border-top-left-radius: 4px; */
  border-bottom-right-radius: 4px;

  font-size: 10px;
  background-color: #fff;
  color: #000;
}

.advert__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 65%;

  padding-left: 15px;
}

.advert__cross {
  width: 18px;
  height: 18px;
}

/* Cards */
.cards._right-upper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}

.card {
  width: 180px;

  margin-top: 8px;
  margin-right: 8px;
  padding: 5px;
  border-radius: 8px;

  box-shadow: 0 0 32px rgba(0, 0, 0, 0.08);
  background-color: #fff;

  transition: transform 0.15s linear;
}

.card._shifted:hover {
  transform: translateX(-20px);
}

.cards__person-data {
  height: 132px;
}

.card__enter {
  height: 40px;

  margin-bottom: 4px;
  border-radius: 7px;

  background-color: #f0f0f0;

  transition: background-color 0.2s linear;
}

.card__enter:hover {
  background-color: #e4e4e4;
}

.login {
  display: flex;
  align-items: center;

  padding: 0 8px;

  text-align: center;
}

.card__add {
  height: 36px;
}

.login__icon {
  width: 24px;
  height: 24px;
}

.login__text {
  flex-grow: 1;

  margin-left: -20px;

  font-weight: 500;
  font-size: 13px;
  color: #000;
}

.login__add-text {
  padding-left: 8px;

  font-weight: 400;
  font-size: 12px;
  color: #000;

  transition: color 0.2s linear;
}

.card__add:hover .login__add-text {
  color: #c00;
}

.card__plus {
  height: 100%;
}

.cards__covid-news {
  position: relative;

  padding: 12px 14px;

  cursor: pointer;
}

.card__title {
  display: block;
  margin-bottom: 7px;

  font-size: 12px;
  font-weight: 500;
  color: #000;
}

.card__content {
  display: flex;
  justify-content: space-between;
}

.card__text {
  font-size: 12px;
  color: #000;
}

.card__covid-value {
  font-weight: 700;
}

.card__covid-icon {
  height: 14px;
  width: 41px;
}

/* Switcher */
.switcher {
  display: flex;
  justify-content: space-between;

  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;

  padding: 7px;
}

.cards__box {
  position: relative;

  transition: transform 0.2s linear;
}

.cards__box._shifted:hover .cards__covid-news {
  transform: translateX(-20px);
}

.switcher__dot {
  width: 4px;
  height: 4px;

  border-radius: 1px;

  background-color: #000;
  opacity: 0.2;
}

.switcher__dot:not(:last-child) {
  margin-right: 5px;
  opacity: 1;
}

.cross-icon {
  cursor: pointer;

  transition: opacity 0.1s linear;
}

.card__cross {
  position: absolute;
  top: 10px;
  right: 3px;
  z-index: 4;

  width: 24px;
  height: 24px;

  opacity: 0;
}

.card__cross:hover {
  fill: #999;
}

.cards__box:hover .card__cross {
  opacity: 1;
  transition-delay: 0.4s;
}

/* Media */
