@import url("/fonts.css");
@import url("/svg.css");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  color: #000;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.app {
  margin: 0;
  overflow-y: scroll;

  font-family: "YS Text", Arial;
  color: #000;
}

/* Logo */
.logo-img {
  display: block;
  position: absolute;
  top: -36px;
  left: -144px;
}

/* Hidden */
.dots-icon._hidden {
  opacity: 0;

  transition: opacity 0.2s linear;
}

/* Link */
.link {
  text-decoration: none;
  cursor: pointer;

  transition: color 0.2s linear;
}

.link._primary {
  color: #0054b9;
}

.link._secondary {
  color: #6da2e1;
}

.link._theme-dark {
  background-color: #f0f0f0;
}

.link._alignment {
  display: flex;
  align-items: center;
}

.link:hover {
  color: #c00;
}

.link._main {
  font-size: 16px;
}

.link._extra {
  font-size: 13px;
}

.link__icon {
  cursor: pointer;

  transition: fill 0.2s linear, opacity 0.2s linear;
}

/* Svg */
.geo-icon {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;

  margin-right: 8px;

  fill: #90919d;
  vertical-align: middle;
}

.truck-icon {
  width: 36px;
  height: 22px;

  opacity: 0.3;
}

.bell-icon {
  width: 36px;
  height: 36px;

  opacity: 0.3;
}

.truck-icon:hover,
.bell-icon:hover {
  opacity: 0.2;
}

.dots-icon {
  width: 14px;
  height: 14px;

  vertical-align: middle;
  cursor: pointer;

  fill: #90919d;

  transition: fill 0.2s linear;
}

.dots-icon:hover {
  fill: #000;
}

.traffic-icon {
  width: 38px;
  height: 35px;
}

.micro-icon {
  width: 24px;
  height: 24px;
}

.keyboard-icon {
  width: 27px;
  height: 12px;
}

/* Container */
.container {
  width: 940px;

  padding: 1px 10px;
  margin: 0 auto;
}

/* Header */
.header__container {
  display: flex;
  justify-content: space-between;

  margin-right: 200px;
  padding-top: 8px;
  padding-left: 18px;
}

.header__info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 240px;
}

.header__geo-link {
  display: flex;
  align-items: baseline;

  font-size: 12px;
  font-weight: 600;
  color: #90919d;
}

.header__geo-link:hover {
  color: #c00;
}

.header__geo-link:hover .geo-icon {
  fill: #c00;
}

.header__stuffs {
  display: flex;
  align-items: center;

  position: relative;
  top: -5px;
  left: -9px;
}

.header__time {
  font-family: Verdana;
  font-size: 11px;
  font-weight: 400;
  color: #90919d;
}

/* Info */
.container__info {
  display: flex;
}

/* News */
.news__link {
  font-weight: 500;
}

.news__link:first-child {
  margin-right: 10px;
}

.news__header,
.news__content,
.news-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.news-list__item {
  display: flex;
}

.news-list__ref {
  display: flex;
  color: #000;
}

.link__news {
  font-size: 13px;
}

.news-icon {
  width: 14px;
  height: 14px;

  margin-right: 10px;
}

.info__news {
  width: 66.6%;
}

.info__circs {
  width: 33.3%;
}

.info__news:hover .news__dots-icon._hidden {
  opacity: 1;
}

/* Course */
.course__item {
  margin-right: 8px;
}

.course__valuta {
  margin-right: 6px;

  font-weight: 500;
  font-size: 12px;
  color: #000;

  transition: color 0.2s linear;
}

.course__value {
  margin-right: 4px;

  font-weight: 400;
  font-size: 12px;
  color: #000;
}

.course__diff {
  font-size: 12px;
  color: #90919d;
}

/* Widget */
.circs__widget {
  padding-left: 13px;
  margin-bottom: 18px;
}

.circs__widget:hover .widget__dots-icon._hidden {
  opacity: 1;
}

.widget__header {
  margin-bottom: 8px;
}

.widget__title:first-child {
  font-weight: 500;
}

.widget__title + .widget__title {
  margin-left: 10px;
}

.widget__link + .widget__link {
  margin-left: 10px;
}

.widget__info {
  display: flex;
  align-items: center;
}

.widget__link:hover .link__rate {
  color: #c00;
}

.widget__text {
  padding-left: 14px;

  color: #000;
}

.link__rate {
  padding-left: 13px;

  font-size: 26px;
  color: #000;

  transition: color 0.2s linear;
}

.link__desc {
  display: block;

  font-size: 9px;
  text-align: center;
  color: #90919d;
}

.link__box {
  display: flex;
  align-items: center;
}

.link__temp {
  font-size: 12px;
}

.link__temp._large {
  font-size: 26px;
}

/* Services */
.container__services {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;

  width: 100%;

  padding-top: 17px;
  padding-bottom: 19px;
}

.services__item-link {
  display: inline-block;
  text-align: center;

  transition: color 0.2s linear;
}

.services__item-link:hover .service-text {
  color: #c00;
}

.service-icon {
  display: block;
  width: 44px;
  height: 44px;

  margin: 0 auto;

  transition: transform 0.1s linear;
}

.more-icon {
  width: 18px;
  height: 18px;

  transition: transform 0.1s linear;
}

.services__item-link:hover .service-icon,
.services__item-link:hover .more-icon {
  transform: translateY(-10%);
}

.service-text {
  font-size: 12px;
  color: #000;
}

.link__more-box {
  display: flex;
  flex-wrap: wrap;

  width: 36px;
}

.services__item-link:first-child {
  position: relative;
}

.services__item-link:first-child:after {
  content: "";
  display: block;
  width: 1px;
  height: 30px;

  position: absolute;
  top: 15px;
  right: -25px;

  background-color: #000;
  opacity: 0.1;
}

/* Search-form */
.search__logo {
  position: relative;
}

.search__container {
  position: relative;
  display: flex;
}

.search__input {
  display: inline-block;
  width: calc(100% - 70px);
  height: 40px;

  padding-left: 9px;
  border: 3px solid #fc0;
  border-right: 5px solid #fc0;
  border-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

  outline: none;
}

.search__input::placeholder {
  font-size: 16px;
  font-family: "YS Text", Verdana;
  font-weight: 400;
  opacity: 0.6;
}

.search__input:focus::placeholder {
  opacity: 0;
}

.search__button {
  width: 83px;
  height: 40px;

  margin-left: -7px;
  font-size: 16px;
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

  background-color: #fc0;

  cursor: pointer;
}

.search__download {
  margin-top: 3px;

  text-align: right;
}

.search__text {
  margin-right: 13px;

  color: #000;
}

.search__actions {
  position: absolute;
  top: 8px;
  right: 91px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search__icon {
  opacity: 0.2;

  cursor: pointer;

  transition: opacity 0.2s linear;
}

.search__icon:first-child {
  margin-right: 10px;
}

.search__icon:hover {
  opacity: 0.35;
}

/* Advert */
.container__advert {
  height: 120px;

  margin-top: 14px;
  border: 1px solid #90919d;
}

.link__title {
  font-size: 24px;
  font-weight: 400;
  color: #000;

  transition: color 0.2s linear;
}

.link__details {
  font-size: 14px;
  font-weight: 400;
  color: #90919d;
}

.container__advert:hover .link__title {
  color: #c00;
}

.advert__link {
  position: relative;
  display: flex;
  height: 100%;
}

.link__image {
  background: url("https://yastatic.net/www/_/O1M3pj157/f169beb3CeL/hAS0GJ_SjB4tydGUKN4uuqnsXxm5TxRDhtR2lEDAjh1QX6fXVnikVUTvlnkMs6Dc7mHFQvj1vv806ntwCdwh2xEVu5PTSUfQ4tbdnaEUqbz-qt4ZqM4GhRTQex8")
    no-repeat;
  background-size: cover;
  background-position-y: top;
  height: 100%;
  width: 35%;
}

.link__inscription {
  position: absolute;
  top: 0;
  left: 0;

  padding: 4px 6px 3px 6px;
  border-bottom-right-radius: 4px;

  font-size: 10px;
  background-color: #fff;
  color: #000;
}

.link__text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 65%;

  padding-left: 15px;
}

.cross-icon {
  width: 18px;
  height: 18px;
}

/* Cards */
.app__cards {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}

.cards__box {
  position: relative;

  transition: transform 0.2s linear;
}

.card {
  border-radius: 8px;

  box-shadow: 0 0 32px rgba(0, 0, 0, 0.08);

  transition: transform 0.15s linear;
}

.card._card-default {
  width: 180px;

  margin-top: 8px;
  margin-right: 8px;
}

.card._shifted:hover {
  transform: translateX(-20px);
}

.cards__login {
  height: 132px;

  padding: 5px;
}

.cards__login .link__add-text:hover {
  color: #c00;
}

.card__link {
  display: flex;
  align-items: center;

  height: 40px;

  margin-bottom: 4px;
  border-radius: 7px;
  padding: 0 8px;

  text-align: center;

  transition: background-color 0.2s linear;
}

.card__link._theme-dark:hover {
  background-color: #e4e4e4;
}

.card-icon {
  width: 24px;
  height: 24px;
}

.link__card-text {
  flex-grow: 1;

  margin-left: -20px;

  font-weight: 500;
  font-size: 13px;
  color: #000;
}

.link__add-text {
  padding-left: 8px;

  font-weight: 400;
  font-size: 12px;
  color: #000;

  transition: color 0.2s linear;
}

.card__plus {
  height: 40px;
}

.cards__covid {
  position: relative;

  padding: 12px 14px;

  cursor: pointer;
}

.link__content {
  display: block;
  margin-bottom: 7px;

  font-size: 12px;
  font-weight: 500;
  color: #000;
}

.link__statistics {
  display: flex;
  justify-content: space-between;
}

.link__info {
  font-size: 12px;
  color: #000;
}

.link__covid-value {
  font-weight: 700;
}

.covid-icon {
  height: 14px;
  width: 41px;
}

/* Switcher */
.card__switcher {
  display: flex;
  justify-content: space-between;

  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;

  padding: 7px;
}

.cards__box._shifted:hover .cards__covid {
  transform: translateX(-20px);
}

.switcher__dot {
  width: 4px;
  height: 4px;

  border-radius: 1px;

  background-color: #000;
  opacity: 0.2;
}

.switcher__dot:not(:last-child) {
  margin-right: 5px;
  opacity: 1;
}

.cards__cross {
  position: absolute;
  top: 10px;
  right: 3px;
  z-index: 4;

  width: 24px;
  height: 24px;

  cursor: pointer;
  fill: #90919d;

  opacity: 0;
}

.cards__cross:hover {
  fill: #000;
}

.cards__box:hover .cards__cross {
  opacity: 1;
  transition-delay: 0.4s;
}
